body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.text, #mail{
width: 75%;
padding: 12px;
border: 1px solid #ccc;
background: #D9D9D9;
border-radius: 20px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
margin-right: 50px;
}

 .text {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 20px;
/* box-sizing: border-box; */
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
margin-right: 50px;
}

.btn {
width: 100px;
height: 30px;
align-items: center;
background: white;
border: 1px solid #000000;
border-radius: 100px;
color: #000000;
}

.btn:hover {
background-color: #09A8E2;
color: white;
}

.contact {
display: inline-block;
padding: 40px;
margin-top: 20px;
width: 500px;
/* border-radius: 20px; */
background: white;
box-shadow: 4px 4px #ccc;
border: 1px solid #ccc;
align-items: center;
margin-left: 35%;
}
img{
    width: 100% ;
   
}
.wrapper {
    text-align: center;
}

.button {
    font-size: 15px;
    /*position: absolute;
    /* top: 50%; */
}